
<div class="about" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="images/new1.jpg">
                <dl>
                    <dt>
                        Ashchal Shrestha
                    </dt>
                    <dd>
                        Designer-I
                    </dd>

                </dl>
            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="images/new2.jpg">
                <dl>
                    <dt>
                        Yudeep Rajbhandari
                    </dt>
                    <dd>
                        Designer-II
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="images/new3.jpg">
                <dl>
                    <dt>
                        Bibek Pokhrel
                    </dt>
                    <dd>
                        Designer-III.
                    </dd>

                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>
                        THE KNOW TEAM
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
