


<label class="label-group">faculty:
    <select ng-model="addbooks.Faculties" placeholder="district" ng-options="faculty for faculty  in faculties"></select>
</label>

<label class="label-group">semester:
    <select ng-model="addbooks.Semester" placeholder="category" ng-options="semester for semester in semesters"></select>
</label>

<label class="label-group">subject:
    <select ng-model="addnotes.Subjectid._id" placeholder="category" ng-options="subject._id as subject.subjectcode for subject in subjects"></select>
</label>

<label class="label-group">Note Topic
    <input type="text" name="What is this note about?" ng-model="addnotes.NoteTopic" required>
    <span ng-show="frm.address.$touched && frm.address.$invalid">Topic is required!!</span>
    <span ng-show="frm.address.$touched && frm.address.$error.required"></span>
</label>

<div class="form-group">
    <label for="picture">Upload pdf</label>
    <div class="text-center">
        <button type="button" class="btn btn-default" ng-click="upload2()">
            Upload <span class="caret"></span>
        </button>
        <div style="margin-top:10px;">
            <!-- Show the thumbnail only when the picture is uploaded -->
            <a href="{{addnotes.pdf.url}}" class="thumbnail" ng-if="addnotes.pdf">
                <!-- the picture is rendered with width: 500 and sharpened -->
                <img ng-src="{{addnotes.pdf.url | fpConvert: {filter:'sharpen'} }}">
            </a>
        </div>
    </div>
</div>

<button class="submitbtn" ng-disabled="frm.$invalid||frm.$untouched" ng-click="addNotes()" >Save</button>