<body>
<div class="form-background">
<form  name="frm ">



    <h1>Add Notes</h1>

    <fieldset>
        <label class="label-group">faculty:
            <select ng-model="addbooks.Faculties" name="faculty" ng-options="faculty for faculty  in faculties" required></select>
            <span ng-show="frm.faculty.$touched&&frm.faculty.$error.required"></span>
        </label>

        <label class="label-group">semester:
            <select ng-model="addbooks.Semester" name="semester" ng-options="semester for semester in semesters" required></select>
            <span ng-show="frm.semester.$touched&&frm.semester.$error.required"></span>
        </label>

        <label class="label-group">subject:
            <select ng-model="addnotes.Subjectid._id" name="subject" ng-options="subject._id as subject.subjectcode for subject in subjects" required></select>
            <span ng-show="frm.subject.$touched&&frm.subject.$error.required"></span>
        </label>

        <label class="label-group">Note Topic
            <input type="text" name="note" ng-model="addnotes.NoteTopic" required>
            <span ng-show="frm.note.$touched && frm.note.$invalid">Topic is required!!</span>
            <span ng-show="frm.note.$touched && frm.note.$error.required"></span>
        </label>


        <div class="form-group">
            <label for="picture">Upload pdf</label>
            <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="upload2()">
                    Upload <span class="caret"></span>
                </button>
                <div style="margin-top:10px;">
                    <!-- Show the thumbnail only when the picture is uploaded -->
                    <a href="{{addnotes.pdf.url}}" class="thumbnail" ng-if="addnotes.pdf">
                        <!-- the picture is rendered with width: 500 and sharpened -->
                        <img ng-src="{{addnotes.pdf.url | fpConvert: {filter:'sharpen'} }}">
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
    <button class="submitbtn" ng-disabled="frm.$invalid||frm.$untouched" ng-click="addNotes()" >Save</button>
</form>
</div>
</body>


