<div ng-repeat="seerequest in seeRequests">

    Faculties:{{seerequest.Subjectid.Faculties}}

    <h4>semester:{{seerequest.Subjectid.Semester}}</h4>
    <h4>subject:{{seerequest.Subjectid.SubjectName}}</h4>
    <h4>bookname:{{seerequest.bookName}}</h4>
    <h4>booktype:{{seerequest.booktype}}</h4>
    <h4>writer:{{seerequest.writer}}</h4>
    <h4>publication:{{seerequest.publication}}</h4>
    <h4>price:{{seerequest.price}}</h4>
    <h4>availability:{{seerequest.availability}}</h4>
    <h4>rack number:{{seerequest.rackNumber}}</h4>
    <a href="{{seerequest.pdf.url}}"><button class="btn btn-primary">Book pdf</button></a>

    {{seerequest._id}}
    
    <a ui-sref="home.addbook({bookid:seerequest._id})" > <button class="btn btn-primary">Edit</button></a>

    <button class="btn btn-danger" ng-click="deleteit(seerequest._id)">Delete</button>

    <br>
    <br>
    <br>
</div>
