<div class="viewbackground">
<div ng-repeat="seerequest in seeRequests">

<div class="notes">
    <h3><strong>{{seerequest.bookName}}</strong></h3>
    <h4>Subject:{{seerequest.Subjectid.SubjectName}}</h4>

    <h4>Book type:{{seerequest.booktype}}</h4>
    <h4>Writer:{{seerequest.writer}}</h4>
    <h4>Publication:{{seerequest.publication}}</h4>
    <h4>Price:{{seerequest.price}}</h4>
    <h4>Availability:{{seerequest.availability}}</h4>
    <h4>Rack number:{{seerequest.rackNumber}}</h4>
    <a href="{{seerequest.pdf.url}}"><button class="btn btn-primary">Book pdf</button></a>


    
    <a ui-sref="home.addbook({bookid:seerequest._id})" ng-if="userData" > <button class="btn btn-primary">Edit</button></a>

    <button class="btn btn-danger" ng-if="userData" ng-click="deleteit(seerequest._id)">Delete</button>

    <br>
    <br>
    <br>
</div>
</div>
</div>