<div ng-repeat="seerequest in seeRequests">




    Faculties:{{seerequest.Subjectid.Faculties}}
    <br>
    semester:{{seerequest.Subjectid.Semester}}
    <br>
    subject:{{seerequest.Subjectid.SubjectName}}
    <br>
    bookname:{{seerequest.bookName}}<br>
    booktype:{{seerequest.booktype}}<br>
    writer:{{seerequest.writer}}<br>
    publication:{{seerequest.publication}}<br>
    price:{{seerequest.price}}<br>
    availability:{{seerequest.availability}}<br>
    rack number:{{seerequest.rackNumber}}<br>
    


    <br>
    <br>
    <br>



</div>
<button ng-click="deleteit()">Delete</button>