
<body>
<div class="form-background">
    <form name="frm " >

        <h1>Log In</h1>

        <fieldset>


            <label class="label-group">Email:
                <input type="email" name="email" placeholder="xyz@example.com" ng-model="formdata.emailAddress" required>
                <span ng-show="frm.email.$touched && frm.email.$error.required"> Required!</span>
                <span ng-show="frm.email.$dirty && frm.email.$error.email">Not an email!!</span>
            </label>

            <label class="label-group">Password:
                <input type="password" name="password" placeholder="password" ng-model="formdata.password" required ng-maxlength="16" ng-minlength="8">
                <span ng-show="frm.password.$dirty && frm.password.$error.required"></span>
                <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Too short</span>
                <span ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too long</span>
            </label>
        </fieldset>

        <button class="submitbtn " ng-disabled="frm.$invalid||frm.$untouched" ng-click="checkForm() " >Login</button>
       
    </form>
</div>


<script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
</body>
</html>