<label class="label-group">faculty:
            <select ng-model="addbooks.Faculties" placeholder="district" ng-options="faculty for faculty  in faculties"></select>
        </label>

        <label class="label-group">semester:
            <select ng-model="addbooks.Semester" placeholder="category" ng-options="semester for semester in semesters"></select>
        </label>
    
       <label class="label-group">subject:
            <select ng-model="addroutine.Subjectid" placeholder="category" ng-options="subject as subject.subjectcode for subject in subjects"></select>
        </label>
        <label class="label-group">starting time:
            <select ng-model="addroutine.startingTime" placeholder="category" ng-options="time for time in times"></select>
        </label>

    <label class="label-group">Ending time:
            <select ng-model="addroutine.endingTime" placeholder="category" ng-options="time for time in times"></select>
        </label>
        <label class="label-group">Day:
            <select ng-model="addroutine.day" placeholder="category" ng-options="day for day in dayss"></select>
        </label>

         <label class="label-group">Teache
            <input type="text" name="address" ng-model="addroutine.Teacher" required>
            <span ng-show="frm.address.$touched && frm.address.$invalid">Teacher is required!!</span>
            <span ng-show="frm.address.$touched && frm.address.$error.required"></span>
        </label>

        <button ng-click="saveroutine()">Save</button>