<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button ng-click="Requests()">show books</button>
<div ng-repeat="seerequest in seeRequests">




    Faculties:{{seerequest.Faculties}}
    <br>
    semester:{{seerequest.Semester}}
    <br>
    subject:{{seerequest.Subject}}
    <br>
    bookname:{{seerequest.bookName}}<br>
    booktype:{{seerequest.booktype}}<br>
    writer:{{seerequest.writer}}<br>
    publication:{{seerequest.publication}}<br>
    price:{{seerequest.price}}<br>
    availability:{{seerequest.availability}}<br>
    rack number:{{seerequest.rackNumber}}<br>
    Faculties:{{seerequest.Faculties}}<br>


    <br>
    <br>
    <br>



</div>
</body>
</html>