<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button ng-click="Requests()">show books</button>
<label class="label-group">faculty:
            <select ng-model="addbooks.Faculties" placeholder="district" ng-options="faculty for faculty  in faculties"></select>
        </label>

        <label class="label-group">semester:
            <select ng-model="addbooks.Semester" placeholder="category" ng-options="semester for semester in semesters"></select>
        </label>

        <div ng-repeat="subject in subjects">

<a ui-sref="home.booksdetails({subjectid:subject._id})"><h3>Subject Name:{{subject.SubjectName}}</h3></a>           

<br>
Subject code:{{subject.subjectcode}}
<br>
Credit      :{{subject.Credit}}
<br>


<p><a href="{{subject.picture.url}}">Download syllabus</a></p>
   
     <!-- <img ng-src="{{subject.picture.url  }}" /> -->
 
<!--<div class="text-right"><a ng-href="/#/detail/{{subject._id}}" class="btn btn-danger" role="button">View</a> </div>
      </div> -->

<br>

       
        </div>

<div ng-repeat="seerequest in seeRequests">




    Faculties:{{seerequest.Subjectid.Faculties}}
    <br>
    semester:{{seerequest.Subjectid.Semester}}
    <br>
    subject:{{seerequest.Subjectid.SubjectName}}
    <br>
    bookname:{{seerequest.bookName}}<br>
    booktype:{{seerequest.booktype}}<br>
    writer:{{seerequest.writer}}<br>
    publication:{{seerequest.publication}}<br>
    price:{{seerequest.price}}<br>
    availability:{{seerequest.availability}}<br>
    rack number:{{seerequest.rackNumber}}<br>
    


    <br>
    <br>
    <br>



</div>
</body>
</html>