<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<div class="backgroundview container-fluid">
<div class="body1 ">

    <label class="label-group">faculty:
        <select class="form-control" ng-model="addbooks.Faculties" placeholder="district"
                ng-options="faculty for faculty  in faculties">faculty</select>
    </label>

    <label class="label-group">semester:
        <select class="form-control" ng-model="addbooks.Semester" placeholder="category"
                ng-options="semester for semester in semesters"></select>
    </label>

    <button class="btn btn-warning" ng-click="showroutine(addbooks.Faculties,addbooks.Semester)"
            ng-if="addbooks.Faculties && addbooks.Semester">Routine
    </button>

    <div class="subject" ng-repeat="subject in subjects"  >


        <a ui-sref="home.booksdetails({subjectid:subject._id})">
            <div class="placelist">
                <h3>Subject Name: {{subject.SubjectName}}</h3>



                <h5>Subject code:{{subject.subjectcode}}</h5>

                <h5>Credit :{{subject.Credit}} Credit Hours</h5>
                <button class="btn btn-danger" ng-if="userData" ng-click="deletesubject(subject._id)">Delete subject</button>
            </div>
        </a>




        <div class="btn-group btn-group-justified" role="group" >
            <div class="btn-group" role="group">

                <a  href="{{subject.picture.url}}"><button type="button" class="btn btn-lg btn-primary">Download syllabus</button></a>
            </div>
            <div class="btn-group" role="group">

                <a ui-sref="home.viewnotes({subjectid1:subject._id})"><button type="button" class="btn btn-lg btn-success"> Notes</button></a>
            </div>
            <div class="btn-group" role="group">

                <a ui-sref="home.viewquestion({subjectid2:subject._id})"><button type="button" class="btn btn-lg btn-info"> Past Questions</button></a>
            </div>
        </div>

    </div>


</div>
</div>

</body>
</html>